<!DOCTYPE HTML>
<html>
<head>
    <title>Currency Finder Service</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Currency Finder Service</h1>

<form action="findCurrency" method="post">
    <p>
        <label for="currency">Find Currency For:</label>
  		<select name="country" id="country">
    		<option value="India">India</option>
   	 		<option value="US">US</option>
    		<option value="UK">UK</option>
    		<option value="Germany">Germany</option>
  		</select>
    </p>
   	<p>
        <input type="submit" value="Submit"/> 
</form>

</body>
</html>